<div
  class="bg-gradient-to-b px-6 from-sky-200 via-blue-100 to-white w-full min-h-screen flex flex-col overflow-hidden relative"
>
  <div
    class="absolute pointer-events-none opacity-60 inset-0 h-full w-full z-0 bg-[linear-gradient(to_right,var(--color-blue-50)_1px,transparent_1px),linear-gradient(to_bottom,var(--color-blue-50)_1px,transparent_1px)] bg-[size:24px_24px] [mask-image:linear-gradient(to_bottom,black_50%,transparent_100%)]"
  ></div>

  <div class="m-auto w-full max-w-[30rem] z-10">
    <router-outlet></router-outlet>    
  </div>

  <div class="absolute bottom-0 left-0 w-full h-48 z-[5] pointer-events-none">
    <div
      class="absolute bottom-[25vh] left-[10vh] w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute bottom-[10vh] left-[0vh] w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute -bottom-[5vh] left-0 w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute -bottom-[5vh] left-[5%] w-[50vh] h-[50vh] bg-white rounded-full opacity-70"
    ></div>
    <div
      class="absolute -bottom-[5vh] left-[25%] w-[20vh] h-[20vh] bg-white rounded-full opacity-85"
    ></div>
    <div
      class="absolute -bottom-[5vh] left-[30%] w-[20vh] h-[20vh] bg-white rounded-full opacity-75"
    ></div>
    <div
      class="absolute -bottom-[5vh] left-[20%] -translate-x-1/2 w-[30vh] h-[30vh] bg-white rounded-full"
    ></div>

    <div
      class="absolute bottom-[25vh] right-[10vh] w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute bottom-[10vh] right-[0vh] w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute -bottom-[5vh] right-0 w-[30vh] h-[30vh] bg-white rounded-full opacity-80"
    ></div>
    <div
      class="absolute -bottom-[5vh] right-[5%] w-[50vh] h-[50vh] bg-white rounded-full opacity-70"
    ></div>
    <div
      class="absolute -bottom-[5vh] right-[20%] w-[20vh] h-[20vh] bg-white rounded-full opacity-85"
    ></div>
    <div
      class="absolute -bottom-[5vh] right-[30%] w-[20vh] h-[20vh] bg-white rounded-full opacity-75"
    ></div>
    <div
      class="absolute -bottom-[5vh] right-[20%] -translate-x-1/2 w-[30vh] h-[30vh] bg-white rounded-full"
    ></div>
  </div>
</div>
