@use "tailwindcss";

.active-link {
  position: relative;

  &::after {
    content: "";
    left: 50%;
    position: absolute;
    aspect-ratio: 1 / cos(30deg);
    width: 150px;
    bottom: 0;
    --r: 20px;
    --_g: calc(tan(60deg) * var(--r)) bottom var(--r), red 98%, #0000 101%;

    -webkit-mask: conic-gradient(
          from -30deg at 50% calc(200% - 3 * var(--r) / 2),
          #000 60deg,
          #0000 0
        )
        0 100%/100% calc(100% - 3 * var(--r) / 2) no-repeat,
      radial-gradient(
        var(--r) at 50% calc(2 * var(--r)),
        var(--color-gray-800) 98%,
        transparent 101%
      ),
      radial-gradient(var(--r) at left var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transform: rotate(180deg) translateY(-45%) translateX(50%);
    background: linear-gradient(
      45deg,
      var(--color-gray-900),
      var(--color-gray-900)
    );
  }
}
