<header
  class="flex flex-col w-full z-10 backdrop-blur-xl not-dark:shadow-none dark:shadow-xl shadow-black/50 items-center justify-between"
>
  <div class="w-full relative h-[20rem] bg-indigo-500 flex">
    <div class="flex w-full h-full relative">
      <img
        src="background_city.png"
        alt=""
        style="object-fit: cover"
        class="w-full h-full"
      />
    </div>

    <div
      class="flex items-center dark:bg-zinc-700 dark:text-white justify-center w-16 h-16 bg-white text-gray-500 shadow-xl absolute bottom-[0] translate-y-[50%] rounded-full right-[30%]"
    >
      <mat-icon class="icon-lg">
        {{ icon(workspace?.icon) }}
      </mat-icon>
    </div>
  </div>

  <div class="flex justify-between items-center flex-col gap-3 sm:flex-row max-w-[100rem] px-4 w-full my-5">
    <div class="flex items-center gap-2 flex-1 w-full">
      <button
        class="grid text-gray-600 place-items-center min-w-10 h-10 bg-gray-100 dark:bg-zinc-700 dark:text-white rounded-full opacity-70 hover:opacity-100 cursor-pointer"
      >
        <mat-icon>
          arrow_back_ios_new
        </mat-icon>
      </button>
      <label
        for="name"
        class="rounded group w-full max-w-[20rem] hover:focus-within:bg-gray-100 focus-within:bg-gray-100 hover:bg-gray-50 flex items-center
        dark:focus-within:bg-zinc-700 dark:hover:bg-zinc-700 dark:hover:focus-within:bg-zinc-700"
      >
        <input
          class="saira-font w-full text-xl p-1 rounded outline-none px-2 font-semibold text-gray-500 dark:text-white"
          [defaultValue]="workspace?.name || ''"
        />
        <button
          class="px-3 h-6 place-items-center group-focus-within:grid hidden mr-2 text-white shadow-lg bg-blue-500 rounded"
        >
          <span class="text-sm font-semibold saira-font"> Ok </span>
        </button>
      </label>
    </div>
    <div class="flex items-center gap-2 flex-1 w-full justify-end">
      <div class="bg-indigo-100 dark:bg-zinc-800 dark:text-white p-1 px-3 items-center rounded-full text-gray-700">
        <span class="saira-font font-semibold text-lg">
          {{ formatBRL(workspace?.amount) }}
        </span>
      </div>

      <button class="flex w-9 h-9 items-center bg-indigo-50 dark:bg-zinc-800 dark:text-zinc-200 justify-center rounded-full">
        <mat-icon fontSet="material-symbols-outlined"> edit </mat-icon>
      </button>
    </div>
  </div>
</header>
