<section class="flex flex-col w-full max-w-[100rem] pb-[5rem] mx-auto px-5">
  <header class="flex items-center justify-between z-10 relative my-2 mt-10">
    <div class="flex items-center gap-2">
      <button
        class="w-10 h-10 grid bg-blue-500 rounded-full text-white place-items-center"
      >
        <mat-icon>arrow_back_ios_new </mat-icon>
      </button>

      <span
        class="flex text-gray-600 p-2 px-4 bg-gray-100 rounded-full dark:bg-zinc-800 dark:text-white"
      >
        12/06/2025
      </span>

      <button
        class="w-10 h-10 grid bg-blue-500 rounded-full text-white place-items-center"
      >
        <mat-icon> arrow_forward_ios_new </mat-icon>
      </button>
    </div>

    <div class="flex items-center">
      <div class="flex p-1 bg-stone-100 gap-2 items-center dark:bg-zinc-800 rounded-lg">
        <button
          class="flex gap-2 items-center bg-white p-1 px-2 rounded-lg dark:bg-zinc-700 shadow"
        >
          <span class="saira-font font-semibold text-gray-500 dark:text-gray-100">
            Em chat
          </span>
        </button>
        <button class="flex gap-2 items-center p-1 px-2 rounded-lg">
          <span class="saira-font font-semibold text-gray-500 dark:text-gray-100">
            Tabela
          </span>
        </button>
      </div>
    </div>
  </header>

  <section class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-7 gap-2 relative">
    @for (item of transactions; track $index) {
    <button
      (click)="redirectToDetails(item.date)"
      [attr.data-item]="!!item?.transactions?.length"
      [attr.data-today]="!!isToday(item.date)"
      class="data-[today=true]:border-4  data-[today=true]:dark:border-zinc-600 flex flex-col flex-1 relative p-2 border group rounded-lg cursor-pointer hover:bg-zinc-50 dark:hover:bg-zinc-800 border-zinc-300 dark:border-zinc-800 h-[10rem] data-[item=false]:opacity-70"
      [ngClass]="getDayClass(item?.transactions?.length)"
    >
      <header
        class="flex dark:text-white items-center w-full text-gray-600 saira-font font-semibold justify-between"
      >
        {{ item?.date | date : "dd" }}

        <div>
          {{ item?.date | date : "EEE" : undefined : "pt-BR" }}
        </div>
      </header>

      @if(!item?.transactions?.length) {
      <div class="grid flex-1 place-items-center opacity-30">
        <span class="text-gray-500 saira-font dark:text-gray-100">
          Não há registros
        </span>
      </div>
      } @if((item?.transactions?.length || 0) > 0) {
      <section class="flex flex-1 items-center">
        <div class="flex flex-col w-full gap-2">
          <header class="flex justify-between items-center">
            <div
              class="flex w-7 h-7 justify-center items-center rounded-full font-semibold saira-font gap-2 bg-violet-500 text-white"
            >
              {{ getPositiveCount(item.transactions) }}
            </div>
            @if(getNegativeCount(item.transactions) > 0) {
            <div
              class="flex w-7 h-7 justify-center items-center rounded-full font-semibold saira-font gap-2 bg-rose-500/80 text-white"
            >
              {{ getNegativeCount(item.transactions) }}
            </div>
            }
          </header>
          <div
            class="flex h-[0.5rem] w-full bg-zinc-200 dark:bg-zinc-700 rounded-full overflow-hidden"
          >
            <div
              class="h-full bg-violet-600"
              [style.width.%]="getPositivePercetage(item.transactions)"
            ></div>

            @if(getNegativeCount(item.transactions) > 0) {
            <div class="flex flex-1 bg-rose-600/60 border-l-4 border-white dark:border-zinc-800"></div>
            }
          </div>
        </div>
      </section>
      } @if(item?.transactions?.length) {
      <div
        [attr.data-item]="!!item?.transactions?.length"
        class="w-8 h-8 bg-gray-100 dark:bg-zinc-800 rounded-full grid place-items-center font-semibold text-gray-500 dark:text-white transition-all"
      >
        {{ item?.transactions?.length }}
      </div>
      }
    </button>
    }
  </section>
</section>
