<section class="flex relative flex-col gap-2 p-2 bg-gray-50">
  <button
    class="absolute top-5 left-5 rounded-full w-10 h-10 shadow cursor-pointer bg-white grid place-items-center"
    (click)="closeModal()"
  >
    <mat-icon> close </mat-icon>
  </button>

  <section class="flex flex-col items-center justify-center h-[20rem]">
    <span class="text-gray-500">
      <mat-icon class="icon-2xl"> drafts </mat-icon>
    </span>

    <h2 class="text-2xl text-gray-500 saira-font font-semibold">
      Não há convites
    </h2>
  </section>
</section>
