<div class="flex flex-col mx-auto last:pb-[5rem] w-full max-w-[100rem]">
  <div
    class="absolute inset-0 z-[-1] h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
  ></div>

  @for (item of transactions; track $index) {
  <div
    #transactionItem
    class="flex flex-1 gap-2 p-1 hover:data-[income=true]:bg-sky-50/40 hover:bg-gray-50/40 data-[i=true]:justify-end"
    [attr.data-income]="(item?.amount ?? 0) > 0"
    [attr.data-i]="item?.user?.id === user?.id"
  >
    <div
      [attr.data-i]="item?.user?.id === user?.id"
      class="flex items-center data-[i=false]:flex-row-reverse w-full max-w-[30rem] p-1 rounded-xl"
    >
      <div
        [attr.data-income]="(item?.amount ?? 0) > 0"
        [attr.data-paid]="item?.status === 'PAID'"
        class="flex flex-col w-full flex-1 data-[paid=true]:opacity-70 bg-white data-[income=false]:shadow-zinc-200 p-3 opacity-80 hover:opacity-100 border data-[income=true]:border-indigo-200 border-gray-300 rounded-xl data-[income=true]:bg-indigo-50/50"
      >
        <div class="flex justify-between items-center gap-2">
          @if ((item?.amount ?? 0) > 0) {
          <div
            class="grid place-items-center text-indigo-600 w-10 h-10 rounded-full bg-indigo-100"
          >
            <mat-icon> trending_up </mat-icon>
          </div>
          }@else {
          <div
            class="grid place-items-center text-gray-500 w-10 h-10 rounded-full bg-gray-100"
          >
            <mat-icon> trending_down </mat-icon>
          </div>
          }

          <div class="flex flex-1 gap-2">
            <div
              [attr.data-income]="(item?.amount ?? 0) > 0"
              class="font-semibold overflow-hidden w-20 text-ellipsis saira-font data-[income=true]:text-indigo-600 text-gray-700"
            >
              {{ item.name }}
            </div>

            <div
              [attr.data-income]="(item?.amount ?? 0) > 0"
              class="font-semibold overflow-hidden w-20 text-sm text-ellipsis saira-font data-[income=true]:text-indigo-600 text-gray-700"
            >
              <mat-icon class="icon-sm">
                {{ item?.paymentMethod | toPaymentMethodIcon }}
              </mat-icon>
            </div>
          </div>

          @if (item?.status === "PAID") {
          <div
            class="bg-gray-100 rounded-full mx-3 text-gray-700 saira-font text-sm p-1 px-2"
          >
            Pago
          </div>
          }

          <div
            [attr.data-income]="(item?.amount ?? 0) > 0"
            class="data-[income=true]:text-indigo-500 text-nowrap text-gray-500"
          >
            <span class="text-lg font-semibold saira-font">
              {{ formatBRL(item?.amount || 0) }}
            </span>
          </div>
        </div>
      </div>

      @if ($index === 0 || transactions?.[$index - 1]?.user?.id !== item?.user?.id) {
      <div
        class="min-w-10 h-10 bg-blue-500 mx-2 text-white shadow rounded-full grid place-items-center"
      >
        {{ item?.user?.firstName?.[0] }}
      </div>
      }@else {
      <div class="min-w-10 h-10 mx-2 rounded-full"></div>
      }
    </div>
  </div>
  }
</div>
