<section class="flex flex-col p-5 mx-auto w-full max-w-[100rem]">
  @for (item of transactions; track $index) {
  <div
    class="flex flex-1 gap-2 p-1 hover:data-[income=true]:bg-sky-50/40 hover:bg-gray-50/40 data-[i]:justify-end"
    [attr.data-income]="(item?.amount ?? 0) > 0"
    [attr.data-i]="item?.user?.id === user?.id"
  >
    <div
      [attr.data-paid]="item?.status === 'PAID'"
      class="flex items-center data-[paid=true]:bg-blue-400/5 w-full max-w-[30rem] p-1 rounded-xl"
    >
      <div class="flex px-4 min-w-20">
        @if (item?.status === "PAID") {
        <div
          class="min-w-10 h-10 grid place-items-center text-indigo-100 bg-gradient-to-bl from-indigo-500 to-indigo-500 rounded-full opacity-70 shadow-xl"
        >
          <mat-icon> check </mat-icon>
        </div>
        }
      </div>

      <div
        [attr.data-income]="(item?.amount ?? 0) > 0"
        [attr.data-paid]="item?.status === 'PAID'"
        class="flex flex-col w-full flex-1 data-[paid=true]:opacity-50 bg-white data-[income=true]:shadow-xl data-[income=false]:shadow-inner data-[income=false]:shadow-zinc-200 data-[income=true]:shadow-indigo-500/20 p-3 opacity-80 hover:opacity-100 border data-[income=true]:border-indigo-200 border-gray-300 rounded-xl data-[income=true]:bg-indigo-50/50"
      >
        <header class="flex justify-between items-center gap-2">
          @if ((item?.amount ?? 0) > 0) {
          <div
            class="grid place-items-center text-indigo-600 w-10 h-10 rounded-full bg-indigo-100"
          >
            <mat-icon> trending_up </mat-icon>
          </div>
          } @else {
          <div
            class="grid place-items-center text-gray-500 w-10 h-10 rounded-full bg-gray-100"
          >
            <mat-icon> trending_down </mat-icon>
          </div>
          }

          <div
            [attr.data-income]="(item?.amount ?? 0) > 0"
            class="font-semibold flex-1 saira-font data-[income=true]:text-indigo-600 text-gray-700"
          >
            {{ item.name }}
          </div>

          <div
            [attr.data-income]="(item?.amount ?? 0) > 0"
            class="data-[income=true]:text-indigo-500 text-gray-500"
          >
            <span class="text-lg font-semibold saira-font">
              {{ formatBRL(item?.amount || 0) }}
            </span>
          </div>
        </header>
      </div>
    </div>

    @if ($index === 0 || transactions?.[$index - 1]?.user?.id !==
    item?.user?.id) {
    <div
      class="w-10 h-10 bg-blue-500 text-white shadow rounded-full grid place-items-center"
    >
      {{ item?.user?.firstName?.[0] }}
    </div>
    }@else {
    <div class="w-10 h-10 rounded-full"></div>
    }
  </div>
  }

  <div class="flex flex-1 gap-2 items-center p-2 justify-end">
    @if (isOpenInput()) {
    <button
      (click)="handleOpenInput()"
      class="p-2 cursor-pointer opacity-80 hover:opacity-100 px-4 rounded-lg text-gray-500 flex bg-gray-50 border border-dashed"
    >
      Novo registro
    </button>
    <div class="w-10 h-10 rounded-full"></div>
    } @else {
    <div
      class="flex flex-col p-2 w-full max-w-[20rem] rounded-xl border gap-2 border-gray-200"
    >
      <header class="flex justify-between items-center">
        <h1 class="saira-font font-semibold text-gray-500">Criar</h1>

        <button
          (click)="handleOpenInput()"
          class="border rounded-full cursor-pointer w-8 h-8 grid place-items-center text-gray-400"
        >
          <mat-icon class="icon-sm"> close </mat-icon>
        </button>
      </header>

      <section class="p-1 bg-gray-50 rounded-lg flex gap-1 mb-2">
        <button
          (click)="setType('INCOME')"
          [attr.data-selected]="type() === 'INCOME'"
          class="p-1 px-2 rounded-lg data-[selected=true]:bg-white data-[selected=true]:shadow flex-1 hover:bg-gray-100 data-[selected=false]:cursor-pointer"
        >
          <span class="font-semibold saira-font text-gray-500"> Entrada </span>
        </button>

        <button
          [attr.data-selected]="type() === 'EXPENSE'"
          (click)="setType('EXPENSE')"
          class="p-1 px-2 rounded-lg data-[selected=true]:bg-white data-[selected=true]:shadow flex-1 hover:bg-gray-100 data-[selected=false]:cursor-pointer"
        >
          <span class="font-semibold saira-font text-gray-500"> Saída </span>
        </button>
      </section>

      @if (type() === "EXPENSE") {
      <section
        class="flex mb-2 bg-gray-100/50 rounded-full p-2 gap-2 items-center justify-between"
      >
        <span class="saira-font font-semibold text-gray-600">
          Pagar agora
        </span>

        <button
          [attr.data-paid]="form.get('status')?.value === 'PAID'"
          class="w-10 h-5 border border-gray-200 ring-2 ring-gray-200 bg-gray-200 rounded-full flex items-center data-[paid=true]:justify-end"
        >
          <span
            [attr.data-paid]="form.get('status')?.value === 'PAID'"
            class="w-5 h-5 bg-gray-500 rounded-full data-[paid=true]:bg-indigo-500"
          >
          </span>
        </button>
      </section>
      }

      <section class="flex flex-col gap-2">
        <input
          type="text"
          class="text-gray-300 border p-2 rounded-xl outline-none"
          placeholder="10,00"
        />
      </section>

      <footer class="flex flex-col mt-2">
        <button
          class="flex p-2 bg-sky-400 text-blue-900 opacity-90 hover:opacity-100 hover:shadow-lg shadow shadow-sky-200 transition-all rounded-full cursor-pointer items-center justify-center"
        >
          <span class="saira-font font-semibold"> Criar </span>
        </button>
      </footer>
    </div>
    }
  </div>
</section>
