<div
  class="relative rounded-xl bg-blue-50 w-30 h-30 text-xl flex flex-col flex-nowrap text-nowrap saira-font text-gray-500 font-semibold leading-[-1rem]"
>
  <ngx-charts-gauge
    [results]="dadosDoGauge"
    [max]="100"
    [legendPosition]="position"
    [className]="'px-0 m-0'"
    [textValue]="dadosDoGauge[0].value.toString()"
    [angleSpan]="360"
				[margin]="[10, 10, 10, 10,]"
    [startAngle]="-90"
				[showAxis]="false"
				[tooltipDisabled]="true"
    [showText]="true"
    [scheme]="corDoGauge"
    [animations]="false"
  >
  </ngx-charts-gauge>
</div>
