@use "tailwindcss";

.saira-font {
  font-family: "Saira", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  /* ... outras propriedades ... */
  font-variation-settings: 'FILL' 0 !important; /* <-- CULPADO! */
}

.icon-contour {
  font-variation-settings: "FILL" 0 !important;
}

.icon-xs {
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
}

.icon-sm {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.icon-md {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.icon-lg {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.icon-xl {
  font-size: 50px !important;
  width: 50px !important;
  height: 50px !important;
}

.icon-2xl {
  font-size: 70px !important;
  width: 70px !important;
  height: 70px !important;
}

.loader {
  --bgColor: var(--color-green-500);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--bgColor);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
