@use "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.saira-font {
  font-family: "Saira", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  /* ... outras propriedades ... */
  font-variation-settings: "FILL" 0 !important; /* <-- CULPADO! */
}

.icon-contour {
  font-variation-settings: "FILL" 0 !important;
}

.icon-xs {
  font-size: 15px !important;
  width: 15px !important;
  height: 15px !important;
}

.icon-sm {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}

.icon-md {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
}

.icon-lg {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

.icon-xl {
  font-size: 50px !important;
  width: 50px !important;
  height: 50px !important;
}

.icon-2xl {
  font-size: 70px !important;
  width: 70px !important;
  height: 70px !important;
}

.loader {
  --bgColor: var(--color-green-500);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--bgColor);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --chart-gradient-color-1: #00bfff; /* Azul Claro */
  --chart-gradient-color-2: #8a2be2; /* Roxo */
  --chart-track-background: #e5e7eb; /* tailwindcss/colors.gray-200 */
  --chart-hollow-background: #ffffff; /* Branco */
  --chart-value-text-color: #374151; /* tailwindcss/colors.gray-700 */
}

/* Quando a tag <html> tiver a classe "dark", use estes valores */
html.dark {
  --chart-gradient-color-1: #3b82f6; /* tailwindcss/colors.blue-500 */
  --chart-gradient-color-2: #9333ea; /* tailwindcss/colors.purple-600 */
  --chart-track-background: var(--color-zinc-600); /* tailwindcss/colors.gray-600 */
  --chart-hollow-background: var(--color-zinc-800); /* tailwindcss/colors.gray-800 */
  --chart-value-text-color: var(--color-zinc-100); /* tailwindcss/colors.gray-300 */
}

.dark .multi-shadow {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(39, 39, 42, 0.7),
    inset 5px 5px 20px rgba(0, 0, 0, 0.4), inset -5px -5px 20px rgba(63, 63, 70, 0.6);
}

.multi-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white,
    inset 5px 5px 10px rgba(30, 30, 30, 0.05), inset -5px -5px 10px white;
}
