<header
  class="flex flex-col w-full z-20 backdrop-blur-xl items-center justify-between"
>
  <div class="w-full h-[20rem] bg-indigo-500">
    
  </div>

  <div class="flex justify-between items-center p-2 w-full">
    <div class="flex items-center gap-2 flex-1">
      <button
        class="grid place-items-center opacity-70 hover:opacity-100 cursor-pointer"
      >
        <mat-icon class="" style="color: var(--color-gray-500)">
          arrow_back_ios_new
        </mat-icon>
      </button>
      <label
        for="name"
        class="rounded group w-full max-w-[15rem] hover:focus-within:bg-gray-100 focus-within:bg-gray-100 hover:bg-gray-50 flex items-center"
      >
        <input
          class="saira-font w-full text-xl p-1 rounded outline-none px-2 font-semibold text-gray-500"
          [defaultValue]="workspace?.name || ''"
        />
        <button
          class="px-3 h-8 place-items-center group-focus-within:grid hidden mr-1 text-white shadow-lg bg-gradient-to-bl from-indigo-400 to-violet-400 rounded"
        >
          <span class="text-sm font-semibold saira-font"> Ok </span>
        </button>
      </label>
    </div>
    <div class="flex items-center gap-2">
      <div
        class="bg-indigo-100 p-1 px-3 items-center rounded-full text-gray-700"
      >
        <span class="saira-font font-semibold text-lg">
          {{ formatBRL(workspace?.amount) }}
        </span>
      </div>

      <button
        class="flex w-9 h-9 items-center bg-indigo-50 justify-center rounded-full"
      >
        <mat-icon fontSet="material-symbols-outlined"> edit </mat-icon>
      </button>
    </div>
  </div>
</header>
