<header
  class="flex w-full border-b border-zinc-200 sticky top-0 z-20 backdrop-blur-xl p-3 items-center justify-between"
>
  <div class="flex items-center gap-2">
    <button
      class="grid place-items-center opacity-70 hover:opacity-100 cursor-pointer"
    >
      <mat-icon class="" style="color: var(--color-gray-500)">
        arrow_back_ios_new
      </mat-icon>
    </button>
    <h2 class="saira-font text-xl font-semibold text-gray-500">
      {{ workspace?.name }}
    </h2>
  </div>
  <div class="bg-emerald-50 p-1 px-2 rounded-lg text-emerald-700">
    <span class="saira-font">
      {{ formatBRL(workspace?.amount) }}
    </span>
  </div>
</header>
